>
<header>
    <h1>
        eaTravel
    </h1>
    <div id="menu_header">
        <ul id="picturesList">
            <li><img src="~/Shared/lemoncakeopenshot.jpg"</li>
            <li><img src="~/Shared/chin.jpg"</li>
            <li><img src="~/Shared/index.jpg"  </li>
            <li><img src="~/Shared/chin2.jpg" </li>
            <li> <img src="~/Shared/lemoncakeopenshot.jpg"</li>
            <li> <img src="~/Shared/pizza.jpg"</li>
        </ul>
        <nav id="menu">
            <ul>
                <li><a href="~/Buttons.cshtml">Home</a></li>
                <li><a href="~/RegionSearching.cshtml">Search by region</a></li>
                <li><a href="~/Upload.cshtml">Upload your recipe</a></li>
                <li><a href="~/Suggestions.cshtml">Our Suggestions</a></li>
            </ul>
        </nav>
    </div>
</header>